<P><%= note.content %></P>
<p>Created by: <%= note.user.full_name %> <%= time_tag(note.created_at) %></p>


<%= link_to "Edit", edit_contact_note_path(note.contact, note)  %>
<%= link_to "Delete", contact_note_path(note.contact, note), method: :delete, data: { confirm: "Are you sure?" }  %>