<!DOCTYPE html>
<html>
  <head>
    <title>APcontactM</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<!-- navbar -->
    <nav class="navbar navbar-dark bg-primary navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <%= link_to "Contact Manager", root_path, class: "navbar-brand text-uppercase" %>

        </div>
        <!-- /.navbar-header -->
        <div class="collapse navbar-collapse" id="navbar-collapse">

          <div class="nav navbar-right navbar-btn">
            <% if user_signed_in? %>
            <%= link_to "Collaboration",  search_contacts_path, class: "btn btn-default"  %>

            <%= link_to new_contact_path, class: "btn btn-default" do %>
              <i class="glyphicon glyphicon-plus"></i> <strong>Add Contact</strong>
              <%end%>

              <%= link_to current_user.full_name, edit_user_registration_path, class: "btn btn-info"  %>
              <%= link_to destroy_user_session_path, method: :delete, class: "btn btn-default" do %>
               <strong>Logout</strong>
              <% end %>
              <%else%>


              <% end %>

          </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- content -->
    <div class="container-fluid">
      <div class="row">
        <div class="container">
          <%= render 'shared/messages' %>
        </div>
      </div>
        	<%= yield %>
          <br>
          <hr>
          <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
</html>
